 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .main{
   
     text-align: center;
 }
 body{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    background-image: url(./assets/sky-with-cloud.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 } 
 .row{
     width: 250px;
    height: 70px;
    font-size: 25px;
    color: black;
    font-weight: bolder;

 }
 .row input{
    width: 250px;
    height: 40px;
    border-radius: 12px;
    font-size: 25px;
    color: black;
    font-weight: bolder;
    text-indent: 3px;
 }